@page
@model Tutor.Pages.NewSubjectAdmin.CreateModel

@{
    ViewData["Title"] = "เพิ่มรายวิชา";
}

<h2>เพิ่มรายวิชา</h2>

<h4>เพิ่มรายวิชาดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                รายวิชา
                <input asp-for="NewSubject.SujectName" class="form-control" />
                <span asp-validation-for="NewSubject.SujectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
