@page
@model Tutor.Pages.NewSubjectAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบราบวิชา";
}

<h2>ลบรายวิชา</h2>

<h3>คุณต้องการลบรายวิชาใช่หรือไม่?</h3>
<div>
    <h4>รายวิชามีดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รายวิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewSubject.SujectName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NewSubject.NewSubjectID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
