@page
@model Tutor.Pages.NewSubjectAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดรายวิชา";
}

<h2>รายละเอียดรายวิชา</h2>

<div>
    <h4>รายวิชามีดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รายวิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewSubject.SujectName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewSubject.NewSubjectID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
