@page
@model Tutor.Pages.NewSubjectAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขรายวิชา";
}

<h2>แก้ไขรายวิชา</h2>

<h4>รายวิชามีดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewSubject.NewSubjectID" />
            <div class="form-group">
                รายวิชา
                <input asp-for="NewSubject.SujectName" class="form-control" />
                <span asp-validation-for="NewSubject.SujectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
