@page
@model Tutor.Pages.NewSubjectAdmin.IndexModel

@{
    ViewData["Title"] = "เพิ่มรายวิชา";
}

<h2>เพิ่มรายวิชา</h2>

<p>
    <a asp-page="Create">เพิ่มรายวิชาใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                รายวิชา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewSubject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SujectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewSubjectID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewSubjectID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewSubjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
