﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="background-color:#FFDEE1; color:#0000FF;">
    <center><h1> TUTOR </h1><center>
</div>

@foreach (var newSub in Model.newSubject) {
    <div class="row">
        <h1> @newSub.SujectName </h1>  
    </div>
    <div class="row" style="background-color:#F8DDA9;">
    @foreach (var newStd in Model.newList) {
        if(newSub.NewSubjectID == newStd.NewSubjectID) {
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <p> วันที่โพสต์ @newStd.PostDate </p> 
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="row">
                        <p><b> ชื่อ-นามสกุล ติวเตอร์ </b>: @newStd.StdName </p> 
                    </div>
                    <div class="row">
                        <p><b> ชื่อเล่นติวเตอร์ </b>: @newStd.StdNickname </p>
                    </div>
                    <div class="row">
                        <p><b> เบอร์โทรศัพท์ </b>: @newStd.PhoneNumber </p>
                    </div>
                    <div class="row">
                        <p><b> Facebook </b>: @newStd.Facebook </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <p><b> สถานที่ติว </b>: @newStd.Place </p>
                    </div>
                    <div class="row">
                        <p><b> จำนวนชั่วโมงในการติว </b>: @newStd.Hour </p>
                    </div>
                    <div class="row">
                        <p><b> อัตราค่าติวรายชั่วโมง </b>: @newStd.WageRate </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <p> โพสต์โดย : @newStd.postUser.FirstName @newStd.postUser.LastName </p>
                </div>
            </div>
            <hr>
        }
    }
    </div>
}

<style>body{background: #CCFFFF; }