@page
@using Microsoft.AspNetCore.Identity
@using Tutor.Models

@model Tutor.Pages.NewStdAdmin.CreateModel
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@{
    ViewData["Title"] = "เพิ่มติวเตอร์";
}

<h2>เพิ่มติวเตอร์</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                รายวิชา
                <select asp-for="Std.NewSubjectID" class ="form-control" asp-items="ViewBag.NewSubjectID"></select>
            </div>
            <div class="form-group">
                วันที่โพสต์
                <input asp-for="Std.PostDate" class="form-control" />
                <span asp-validation-for="Std.PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อ-นามสกุล ติวเตอร์
                <input asp-for="Std.StdName" class="form-control" />
                <span asp-validation-for="Std.StdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อเล่นติวเตอร์
                <input asp-for="Std.StdNickname" class="form-control" />
                <span asp-validation-for="Std.StdNickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถาที่ติว
                <input asp-for="Std.Place" class="form-control" />
                <span asp-validation-for="Std.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนชั่วโมงในการติว
                <input asp-for="Std.Hour" class="form-control" />
                <span asp-validation-for="Std.Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                อัตราค่าติวรายชั่วโมง
                <input asp-for="Std.WageRate" class="form-control" />
                <span asp-validation-for="Std.WageRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                เบอร์โทรศัพท์
                <input asp-for="Std.PhoneNumber" class="form-control" />
                <span asp-validation-for="Std.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                Facebook
                <input asp-for="Std.Facebook" class="form-control" />
                <span asp-validation-for="Std.Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                โพสต์โดย: @UserManager.GetUserName(User);
                <input asp-for="Std.NewsUserId"type="hidden"value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
