@page
@model Tutor.Pages.NewStdAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูลติวเตอร์";
}

<h2>ลบข้อมูลติวเตอร์</h2>

<h3>คุณต้องการลบข้อมูลติวเตอร์ใช่หรือไม่?</h3>
<div>
    <h4>ข้อมูลมีดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รายวิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.NewSub.NewSubjectID)
        </dd>
        <dt>
            วันที่โพสต์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.PostDate)
        </dd>
        <dt>
            ชื่อ-นามสกุล ติวเตอร์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.StdName)
        </dd>
        <dt>
            ชื่อเล่นติวเตอร์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.StdNickname)
        </dd>
        <dt>
            สถานที่ติว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.Place)
        </dd>
        <dt>
            จำนวนชั่วโมงในการติว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.Hour)
        </dd>
        <dt>
            อัตราค่าติวรายชั่วโมง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.WageRate)
        </dd>
        <dt>
            เบอร์โทรศัพท์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.PhoneNumber)
        </dd>
        <dt>
            Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.Facebook)
        </dd>
        <dt>
            โพสต์โดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Std.StdID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
