@page
@model Tutor.Pages.NewStdAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดข้อมูล";
}

<h2>รายละเอียดข้อมูล</h2>

<div>
    <h4>ข้อมูลติวเตอร์มีดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รายวิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.NewSub.NewSubjectID)
        </dd>
        <dt>
            วันที่โพสต์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.PostDate)
        </dd>
        <dt>
            ชื่อ-นามสกุล ติวเตอร์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.StdName)
        </dd>
        <dt>
            ชื่อเล่นติวเตอร์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.StdNickname)
        </dd>
        <dt>
            สถานที่ติว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.Place)
        </dd>
        <dt>
            จำนวนชั่วโมงในการติว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.Hour)
        </dd>
        <dt>
            อัตราค่าติวรายชั่วโมง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.WageRate)
        </dd>
        <dt>
            เบอร์โทรศัพท์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.PhoneNumber)
        </dd>
        <dt>
            Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.Facebook)
        </dd>
        <dt>
            โพสต์โดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Std.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Std.StdID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
