@page
@model Tutor.Pages.NewStdAdmin.IndexModel


@{
    ViewData["Title"] = "เพิ่มติวเตอร์";
}

<h2>เพิ่มติวเตอร์</h2>

<p>
    <a asp-page="Create">เพิ่มติวเตอร์ใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                รายวิชา
            </th>
            <th>
                วันที่โพสต์
            </th>
            <th>
                ชื่อ-นามสกุล ติวเตอร์
            </th>
            <th>
                ชื่อเล่นติวเตอร์
            </th>
            <th>
                สถานที่ติว
            </th>
            <th>
                จำนวนชั่วโมงในการติว
            </th>
            <th>
                อัตราค่าติวรายชั่วโมง
            </th>
            <th>
                เบอร์โทรศัพท์
            </th>
            <th>
                Facebook
            </th>
            <th>
                โพสต์โดย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Std) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewSub.SujectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StdNickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WageRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StdID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StdID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StdID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
